/* Fonte externa */
@font-face {
    font-family: 'teste';
    src: url('../fontes/Belleza-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'teste';
}

/* Corpo da página */
body {
    background-color: #EFF3F0;
    width: 100%;
}

div.apresentacao {
    display: flex;
    height: 85vh;
    width: 100%;
}

section.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #B3C0C5;
}

img.foto_perfil {
    height: auto;
    width: 55%;
    border-radius: 50%;
    margin: 5% 0px 0px 0px;
}

section.perfil > h1 {
    font-size: 2.5em;
}

section.perfil > div {
    align-self: flex-start;
    margin: 1% 0px 0px 4%;
}

section.perfil > div > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 75px;
    width: 100%;
    margin: 0px 0px 0px 10%;
}

ul > li {
    font-size: 1.2em;
    padding: 0px 40px 0px 0px;
}

section.sobre_mim {
    display: flex;
    justify-content: center;
    width: 100%;
}

section.sobre_mim > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 70%;
    margin: 5% 0px 0px 0px;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 5px 6px 10px #00000061;
}

section.sobre_mim > div > p {
    width: 90%;
    text-align: justify;
    font-size: 1.5em;
}

/* Portfólio*/
main {
    height: auto;
    background: radial-gradient(circle , #000000, #1b1a1a);
    text-align: center;
    color: white;
    padding-top: 40px;
    width: 100%;
}

section.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

main > h1 {
    color: #ffffff;
    padding-bottom: 30px;
}

.carrossel-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Div onde é carregada a imagem e o texto do projeto */
.carrossel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.carrossel-item > p {
    text-align: justify;
}

/* Animação do carrossel */
@keyframes slideIn {
    from {
        transform: translateX(30%);
        opacity: 0;
    }
    to {
        transform: translateX(-10%);
        opacity: 1;
    }
}

.animate-slide {
    animation: slideIn 1s forwards;
}

.carrossel-item > p {
    align-self: center;
    color: #ffffff;
    width: 350px;
    padding: 20px 0px 20px 0px;
}

.carrossel-item  > p > a {
    color: #73e1c8;
}

.carrossel-item > p > a.driveup {
    color: #4969B2;
}

.carrossel-item  > img {
    height: auto;
    width: 90%;
}

.box_setas {
    background-color: #0808082e;
}

.setas {
    cursor: pointer;
    height: 50px;
    width: 50px;
    color: #ffffff;
    background-origin: white;
}

section.perfil > aside {
    display: none;
    }

/* Responsividade para desktop*/
@media (max-width: 1050px) {
    img.foto_perfil {
        width: 70%;
    }
    
    section.sobre_mim > div > p {
        font-size: 1.4em;
    }

    section.perfil > h1 {
        font-size: 2em;
    }
}

@media (max-width: 900px) {
    section.sobre_mim > div > p {
        font-size: 1.3em;
    }

    section.perfil > h1 {
        font-size: 1.8em;
    }

    section.perfil > div > h2 {
        font-size: 1.3em;
    }

    ul > li {
        font-size: 1.1em;
    }
}

/* Responsividade para mobile */
@media (max-width: 800px) {
    div.apresentacao {
        flex-direction: column;
        height: auto;
    }

    section.perfil {
        width: 100%;
    }

    img.foto_perfil {
        width: 55%;
    }

    section.perfil > h1 {
        margin: 10px 0px 10px 0px;
    }

    section.perfil > div {
        align-self: flex-start;
        margin: 2% 0px 0px 4%;
    }

    section.perfil > div > ul {
        margin: 2% 0px 0px 10%;
    }

    section.sobre_mim {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 30px 0px 30px 0px;
        align-content: center;
    }

    section.sobre_mim > div {
        margin: 0px;
    }

    section.perfil > div > h2 {
        font-size: 1.7em;
    }

    ul > li {
        font-size: 1.5em;
    }

    section.perfil > aside {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        align-items: center;
        width: 200px;
        padding: 3% 0px 3% 0px;
    }

    section.perfil > aside > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 125px;
    }
}

@media (max-width: 500px) {
    section.perfil > div > h2 {
        font-size: 1.4em;
    }

    ul > li {
        font-size: 1.2em;
    }

    section.sobre_mim > div > p {
        font-size: 1.1em;
    }
}
